.rating {
    display: flex;
    justify-content: center;
    direction: ltr;
}

.rating input {
    display: none;
}

.rating label {
    font-size: 2rem;
    color: lightgray;
    cursor: pointer;
}

.rating label:hover,
.rating label:hover ~ label,
.rating input:checked ~ label {
    color: gold;
}

.rating input:checked + label,
.rating input:checked + label ~ label {
    color: gold;
}
